.main {
    width: 100%;
    height: 150vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    padding: 3px;
    
}
.my_main
{
    width:100%;
    height:77.5vh;
    margin: 40px 0;
    background-color:#f2f2f2;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
}
/* .my_tab{
    height:100vh;
    overflow: scroll;
    overflow-x: hidden;
} */
.my_tab::-webkit-scrollbar {
    width: 10px;
  }
  
  .my_tab::-webkit-scrollbar-track {
    background: grey;
    border-radius: 50px;
  }
  
  .my_tab::-webkit-scrollbar-thumb {
    background: rgb(65, 58, 58);
    border-radius: 50px;
  }
  
  .my_tab::-webkit-scrollbar-thumb:hover {
    background: grey;
  }


  @media (min-width:1367px)
{
  .main {
    width: 100%;
    height: 85vh;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    padding: 3px;
    
}
.my_main
{
    width:100%;
    height:77.5vh;
    margin: 40px 0;
    background-color:#f2f2f2;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
   
}
.my_tab{
  width: auto;
    height:auto;
    overflow: scroll;
    overflow-x: hidden;
}
.mb-3
{
  width: 100%;
}
.my_tab
{
  width: 100%;
}
.second_details
{
  
  display:flex;
  justify-content: space-between;
  padding: 80px 200px;
}
}
.second_main
{
  width: 100%;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  padding-top: 80px;
}




.second_content
{
  text-align: center;
}
.second_content h1
{
  color: black;
  font-size: 45px;
  font-weight: 600;
}
.second_content p
{
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.second_details
{
  
  display:flex;
  justify-content: space-between;
  padding: 50px 100px;
}
.second_myaccordian
{
  width: 50%;
  border: none;
  border: hidden;
  border-radius: 200px;
}
.second_item
{
  border: none;
  border-radius: 2000px;
}
.second_part
{
  width: 45%;
  height: auto;
 
  padding: 0px 40px;
  border-left: 1px solid #dbdbdb;

}
.second_approved
{
 
  padding-left: 50px;
  display: flex;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin-bottom: 20px;
 
}
.second_approved img
{
  margin-top: 10px;
 
  width: 25px;
  height: 25px;
}
.second_approved p
{
  padding-top: 13px;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 600;
  color: black;
}
/* .accordion.item:first-of-type
{
    outline-color: #ffda30 !important;
    border-radius: 20px !important;
    
}
.collapse
{
    outline-color: #ffda30 !important;
    visibility:block !important;
} */
/* .accordion-button:focus
{
  border-color: none !important;
    box-shadow: none !important;
    outline-color: #ffda30 !important;
}
.accordion-button:not(.collapsed)
{
    outline-color: #ffda30 !important;
    box-shadow: none;
}
.accordion-flush .accordion-item .accordion-button, .accordion-flush .accordion-item .accordion-button.collapsed
{
    outline-color: #ffda30 !important;
    background-color: #161616 !important;
    border-radius: 0;
    color: #f1f1f1 !important;
    border: none;
}
.accordion.item
{
    outline-color: #ffda30 !important;
    border-radius: 15px;
    border: 1px solid #dbdbdb;
    box-shadow: 0 0 15px rgb(0 0 0/5%);
} */



/* Ajay's Accordian */


li.manage-list {
  display: flex;
  background: #f2f2f2;
  align-items: center;
  padding: 16px 18px;
  border-radius: 7px;
}
.manage-lists {
  padding-left: 60px;
  height: 100%;
  border-left: 1px solid #dbdbdb;
}
li.manage-list:not(:first-child) {
  margin-top: 3.5%;
}
li.manage-list p {
  margin-bottom: 0;
  padding-left: 15px;
  font-weight: 600;
}
.manage-acc {
  padding-right: 25px;
}
p.manage-head {
  font-weight: 600;
  margin-bottom: 0;
  font-size: 15px;
}
p.manage-desc {
  font-size: 14px;
  display: none;
  margin-bottom: 0;
}
.manage-box {
  padding: 16px;
  cursor: pointer;
  padding-left: 40px;
  padding-top: 0;
  counter-increment: li;
  position: relative;
  padding-bottom: 0;
}
.manage-boxs 
{
    list-style: none !important;
}
.manage-box.active p.manage-desc {
  margin-top: 15px;
}
.manage-box.active {
  border-top: 0;
}
.manage-box.active {
  border-radius: 15px;
  border: 1px solid #dbdbdb;
  box-shadow: 0 0 15px rgb(0 0 0/5%);
  padding-top: 0;
  padding-bottom: 19px;
}
.manage-box .manage-head {
  position: relative;
  border-bottom: 1px solid #dbdbdb;
  padding-top: 25px;
  padding-bottom: 25px;
}
.manage-box:last-child .manage-head {
  border-bottom: none;
}
.manage-box.active .manage-head {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 19px;
}
.manage-box .manage-head:after {
  content: "";
  position: absolute;
  right: 0;
  top: 45%;
  display: block;
  height: 10px;
  width: 10px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  transform: rotate(314deg);
}
.manage-box.active p.manage-desc
{
    margin-top: 15px !important;
    font-size: 15px;
}
.manage-box.active .manage-head:after {
  transform: rotate(136deg);
  top: 57%;
}
ul li.manage-box:before {
  position: absolute;
  content: counter(li);
  top: 24px;
  left: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 1.8;
  text-align: center;
  font-size: 14px;
  background: #ffda30;
  font-weight: 800;
}
ul li.manage-box:not(:last-child):after {
  position: absolute;
  content: "";
  height: 50%;
  border-left: 3px dotted #a8a8a8;
  display: block;
  top: 54px;
  left: 20px;
}
ul li.manage-box.active:before {
  top: 19px;
}
ul li.manage-box.active:not(:last-child):after {
  top: 51px;
  height: 46%;
}